---
/*
    Flowtide
    Copyright (C) 2024-present George Stone

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see {http://www.gnu.org/licenses/}.

    https://github.com/thingbomb/flowtide
*/
import PluginItem from "../../../layouts/PluginItem.astro";
import plugins from "../../plugins/plugins/items.json";

interface Plugin {
  title: string;
  description: string;
  url: string;
  author: {
    name: string;
    url: string;
  };
  shortDescription?: string;
}

const typedPlugins = plugins as { [key: string]: Plugin };

export async function getStaticPaths() {
  return Object.keys(plugins).map((pluginId) => ({
    params: { pluginId },
  }));
}
---

{
  typedPlugins[Astro.params.pluginId].url.startsWith(
    "data:text/css;base64,"
  ) ? (
    <PluginItem
      title={typedPlugins[Astro.params.pluginId].title}
      description={typedPlugins[Astro.params.pluginId].description}
      url={typedPlugins[Astro.params.pluginId].url}
      author={typedPlugins[Astro.params.pluginId].author}
    />
  ) : (
    <div>Invalid file</div>
  )
}
