@import "tailwindcss";
@config "../tailwind.config.cjs";
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  [data-kb-theme="dark"] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --sidebar: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.widget {
  @apply relative h-[150px] w-[400px] rounded-[20px] bg-gray-300 p-6 text-3xl shadow-lg dark:bg-zinc-700 dark:shadow-sm;
}

.slot[data-swapy-highlighted] {
  @apply max-h-[150px] max-w-[400px] rounded-[20px] bg-zinc-600;
}

.blob-gradient {
  background: radial-gradient(circle, #9a62f7, #8396d5 47%, #00d4ff00);
  filter: blur(100px);
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.card-style {
  @apply not-[data-selected]:active:opacity-80 mt-2 flex select-none flex-col items-center gap-2 text-center;
  .icon {
    @apply border-3 border-background flex w-full items-center justify-center gap-3 rounded-xl py-2;
  }
  span {
    @apply text-sm font-medium;
  }
}

.card-style[data-selected] .icon {
  @apply border-3 border-black dark:border-white;
}

.card-group {
  @apply grid w-full gap-4;
}

@layer components {
  input[type="range"] {
    @apply h-1.5 w-full appearance-none rounded-lg bg-zinc-100 dark:bg-zinc-600;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-zinc-600;
    height: 2px;
    border-radius: 8px;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply h-4 w-4 cursor-pointer rounded-full border-2 border-zinc-200 bg-white shadow-inner dark:border-zinc-700 dark:bg-black dark:shadow-white/10;
    appearance: none;
    margin-top: -6px;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    @apply border-zinc-800;
  }
}
