{
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-json",
    "prettier-plugin-classnames"
  ],
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
