<footer
  class="p-4 pb-7 pt-7 flex flex-col gap-4 border-t border-zinc-800 bg-black"
>
  <div
    class="flex flex-col gap-4 sm:grid sm:grid-cols-[1fr_1fr_1fr] text-gray-300 text-sm"
  >
    <div class="flex flex-col gap-2">
      <a
        class="text-white text-xl font-semibold flex gap-4 items-start pl-2"
        href="/"
        ><div class="flex items-center gap-4">
          <img
            alt="Flowtide logo"
            loading="lazy"
            width="60"
            height="60"
            decoding="async"
            data-nimg="1"
            class="h-8 w-auto"
            style="color:transparent"
            src="/favicon.ico"
          />Flowtide
        </div></a
      ><a
        target="_blank"
        rel="noopener noreferrer"
        class="mt-2 flex w-fit cursor-pointer items-center rounded-md bg-surface px-3 py-2"
        href="https://status.flowtide.app/"
        ><div class="relative size-3 rounded-full bg-green-500 shadow">
          <div
            class="absolute top-[-0.2%] z-0 size-3 animate-ping rounded-full bg-green-500"
            style="animation-duration:1.7s"
          >
          </div>
        </div><p class="!text-sm font-bold m-3">System Status</p></a
      >
    </div><div class="flex flex-col gap-2">
      <b>About</b><a href="/website-privacy">Privacy policy</a><a
        href="https://github.com/thingbomb/flowtide">Star us on GitHub</a
      >
    </div><div class="flex flex-col gap-2">
      <b>Download</b><a href="/install">Install for Chrome</a><a href="/install"
        >Install for Firefox</a
      >
    </div>
  </div>
</footer>
