---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header
  class="bg-black z-50 backdrop-blur-lg p-4 pt-2 pb-2 sticky top-0 border-b border-zinc-800"
>
  <nav class="flex items-center justify-between">
    <div class="flex items-center gap-6">
      <h2 class="text-xl !m-0">
        <a
          class="text-white text-lg font-semibold flex gap-3 items-center !no-underline"
          href="/"
          ><img
            alt="Flowtide logo"
            loading="lazy"
            width="40"
            height="40"
            decoding="async"
            data-nimg="1"
            class="h-6 w-auto"
            style="color:transparent"
            src="/favicon.ico"
          /><span>{SITE_TITLE}</span></a
        >
      </h2>
      <div class="flex items-center">
        <HeaderLink href="/" class="px-2 py-2">Home</HeaderLink>
        <HeaderLink href="/superstash" class="px-2 py-2">Superstash</HeaderLink>
        <HeaderLink href="/blog" class="px-2 py-2">Blog</HeaderLink>
      </div>
    </div>
    <div class="hidden md:flex items-center">
      <a
        href="https://github.com/thingbomb/flowtide"
        target="_blank"
        class="text-gray-600 hover:text-white"
      >
        <span class="sr-only">Go to Flowtide's GitHub repo</span>
        <svg
          viewBox="0 0 16 16"
          aria-hidden="true"
          width="32"
          height="32"
          class="fill-current"
        >
          <path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</header>
